.products-content{
    min-height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 100px;
    h2{
        font-family: 'Permanent Marker', cursive;
        margin-bottom: 45px;
        font-size: 50px;
    }
}
.all-products{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px 60px 60px;
    img{
        width: 350px;
        height: 230px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    p{
        font-size: 21px;
        font-weight: bold;
    }
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #151515;
    width: 350px;
}
.price{
    border-top: 1px solid white;
    margin-top: 0;
    padding-top: 20px;
}
.view-product{
    width: 170px;
    height: 50px;
    font-size: 20px;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    margin: 8px 0 35px 0;
    border: none;
    cursor: pointer;
}
.view-product:hover{
    background: black;
    color: white;
}