<div class="about-content">
    <div class="about-heading">
        <h2>About Us</h2>
    </div>
    <div class="main-content">
        <div class="about-image" @fade @slideLeft>
            <img src="/assets/images/about.jpg">
        </div>
        <div class="org-info" @fade>
            <h3>SunShade</h3>
            <p>Hello there! Welcome to the world of SunShade sunglasses. As our name suggests we are a company who sell branded sunglasses across the globe. Our company was founded by Abhishek Singh in the year 2020 and since then we've been a very successful company. We sell a wide range of sunglasses and we're glad to tell you that we're one of the best in business. Our CEO is Abhishek Singh and we have a total of around 800 employees. Our branches are in Chennai, Hyderabad, Bangalore and Mumbai. Happy Shopping.</p>
        </div>
    </div>
</div>