<div class="footer">
    <div class="footer-content">
    <div class="social-box">
        <ul class="social">
            <li><a href="https://www.facebook.com/profile.php?id=100000985955408" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/abhisheks802" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/abhikhushiabhigum/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="copyright copyright-2">
        abhisheks802@gmail.com
    </div>
    <div class="copyright">
        <i class="fa fa-copyright" aria-hidden="true"></i> Abhisehk Singh, 2021
    </div>
    </div>
</div>
