div{
    min-height: 100vh;
    background: black;
    padding-top: 10%;
    overflow: hidden;
}
h2{
    color: white;
    text-align: center;
    font-size: 40px;
}
h3{
    color: white;
    text-align: center;
    font-size: 30px;
    span{
        color: lightseagreen;
        cursor: pointer;
    } 
}