.nav{
    background: linear-gradient(to bottom,rgba(0, 0, 0,1),rgba(0,0,0,0.6));
    width: 100vw;
    display: flex;
    padding: 8px 0 6px 0;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    ul{
        margin: 0;
        padding: 0;
        margin-left: 25px;
        display: flex;
        align-items: center;
        li{
            list-style: none;
            margin-right: 10px;
            font-size: 24px;
        }
        a{
            padding: 8px;
            border: none;
            border-radius: 10px;
            color: white;
            text-decoration: none;
        }
        a:hover{
            background: rgb(95, 95, 95);
        }
    }
    h1{
        color: white;
        font-weight: bold;
        font-size: 37px;
        margin-left: -300px;
    }
    p{
        color: white;
    }
    .cart{
        color: white;
        margin-right: 50px;
        font-size: 28px;
        cursor: pointer;
        padding: 10px 10px 10px 13px;
        border-radius: 50%;
    }
    .cart:hover{
        background: white;
        color: black;
    }
}
.cart-cartCount{
    display: flex;
    align-items: center;
    p{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: white;
        color: black;
    }
}