<div class="branches-content">
    <div class="branches-heading">
        <h2>We Are At</h2>
    </div>
    <div @fade class="main-content">
        <div class="branch" >
            <img src="/assets/images/hyd.jpg">
            <h4>Hyderabad</h4>
        </div>
        <div class="branch">
            <img src="/assets/images/bang.jpg">
            <h4>Bangalore</h4>
        </div>
        <div class="branch">
            <img src="/assets/images/che.jpg">
            <h4>Chennai</h4>
        </div>
        <div class="branch">
            <img src="/assets/images/mum.jpg">
            <h4>Mumbai</h4>
        </div>
        <div class="branch">
            <img src="/assets/images/pune.png">
            <h4>Pune</h4>
        </div>
    </div>
</div>
